<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>query patient </title>
    <link rel="stylesheet" rel="stylesheet" href="/static/plugins/bootstrap-3.4.1-dist/css/bootstrap.css">

</head>
<body>
    <div class = "jumbotron">
        <h1>Hello 数据库实验</h1>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <div class="alert alert-success" role="alert">查询成功！</div>
    <div class="alert alert-info" role="alert">插入成功！</div>
    <div class="alert alert-warning" role="alert">删除成功！</div>
    <div class="alert alert-danger" role="alert">发生错误！</div>

    <div>
        <table class="table table-striped">
            <tr>
                <td>patientid</td>
                <td>patientid</td>
            </tr><tr>
                <td>patientid</td>
                <td>patientid</td>               
            </tr><tr>
                <td>patientid</td>
                <td>patientid</td>                  
            </tr>
        </table>
    </div>
    <div>
        <button class="btn-block">确定</button>
    </div>

    <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    </button>

    <div class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            上拉菜单
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="https://www.baidu.com">baidu</a></li>
            <li><a href="https://www.sougou.com">sougou</a></li>
            <li><a href="https://www.google.com">google</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">网页</a></li>
        </ul>
    </div>
    <script type="text/javascript" src="/static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</body>