<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实例2</title>
</head>
<body>  
<h1>筛选结果</h1>

<center>


</center>
</body>


</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>病例信息</title>
    <link rel="stylesheet" rel="stylesheet" href="/static/plugins/bootstrap-3.4.1-dist/css/bootstrap.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/examples/carousel/carousel.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.10/examples/dashboard/dashboard.css" rel="stylesheet">
    <!-- 有空保存一下本地 -->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">消化道疾病信息管理系统</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">information</a></li>
              <li><a href="#">profile</a></li>
              <li><a href="/logout/">logout</a></li> 
              <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
    </nav>
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/userlist/">病例信息 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">标注信息</a></li>
                    <li><a href="#">用户信息</a></li>
                    <li><a href="#">图片信息</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/count_disease/">标注疾病统计</a></li>
                    <li><a href="/count_anatomy/">标注解剖结构统计</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                 <h1 class="page-header">个人信息</h1>
                 <div class="row placeholders">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                          <h3>个人照片</h3>
                          <p>
                            <img src="../../../static/images/a.jpg" width="400" height="400" class="img-responsive" alt="Generic placeholder thumbnail">
                          </p>
                        </div>
                        <div class="col-sm-6 col-md-3">
                          <h3>个人信息</h3>
                          <p>1231231341134134
                          </p>
                        </div>
                        <div class="clearfix visible-sm-block"></div>
                </div>
        
            </div>
            
        <div class="alert alert-info" role="alert">
            <a href="#" class="alert-link">...</a>
        </div>

        </div>
    </div>


  
        </div>
        <script src="static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js"></script>
        <!-- 包括所有已编译的插件 -->
        <script src="static/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>

<center>

</center>
</body>
</html>